data/datasets/standard_split/color/128x128/test_set.npy
data/datasets/standard_split/color/128x128/train_set.npy
data/datasets/standard_split/color/128x128/val_set.npy
data/datasets/standard_split/color/32x32/test_set.npy
data/datasets/standard_split/color/32x32/train_set.npy
data/datasets/standard_split/color/32x32/val_set.npy
data/datasets/standard_split/color/64x64/test_set.npy
data/datasets/standard_split/color/64x64/train_set.npy
data/datasets/standard_split/color/64x64/val_set.npy
data/datasets/standard_split/color/original_size/test_set.npy
data/datasets/standard_split/color/original_size/train_set.npy
data/datasets/standard_split/color/original_size/val_set.npy
data/datasets/standard_split/greyscale/128x128/test_set.npy
data/datasets/standard_split/greyscale/128x128/train_set.npy
data/datasets/standard_split/greyscale/128x128/val_set.npy
data/datasets/standard_split/greyscale/32x32/test_set.npy
data/datasets/standard_split/greyscale/32x32/train_set.npy
data/datasets/standard_split/greyscale/32x32/val_set.npy
data/datasets/standard_split/greyscale/64x64/test_set.npy
data/datasets/standard_split/greyscale/64x64/train_set.npy
data/datasets/standard_split/greyscale/64x64/val_set.npy
data/datasets/standard_split/greyscale/original_size/test_set.npy
data/datasets/standard_split/greyscale/original_size/train_set.npy
data/datasets/standard_split/greyscale/original_size/val_set.npy
data/subset-1/000_back_ear.jpg
data/subset-1/000_down_ear.jpg
data/subset-1/000_front_ear.jpg
data/subset-1/000_left_ear.jpg
data/subset-1/000_right_ear.jpg
data/subset-1/000_up_ear.jpg
data/subset-1/000_zoom_ear.jpg
data/subset-1/001_back_ear.jpg
data/subset-1/001_down_ear.jpg
data/subset-1/001_front_ear.jpg
data/subset-1/001_left_ear.jpg
data/subset-1/001_right_ear.jpg
data/subset-1/001_up_ear.jpg
data/subset-1/001_zoom_ear.jpg
data/subset-1/002_back_ear.jpg
data/subset-1/002_down_ear.jpg
data/subset-1/002_front_ear.jpg
data/subset-1/002_left_ear.jpg
data/subset-1/002_right_ear.jpg
data/subset-1/002_up_ear.jpg
data/subset-1/002_zoom_ear.jpg
data/subset-1/003_back_ear.jpg
data/subset-1/003_down_ear.jpg
data/subset-1/003_front_ear.jpg
data/subset-1/003_left_ear.jpg
data/subset-1/003_right_ear.jpg
data/subset-1/003_up_ear.jpg
data/subset-1/003_zoom_ear.jpg
data/subset-1/004_back_ear.jpg
data/subset-1/004_down_ear.jpg
data/subset-1/004_front_ear.jpg
data/subset-1/004_left_ear.jpg
data/subset-1/004_right_ear.jpg
data/subset-1/004_up_ear.jpg
data/subset-1/004_zoom_ear.jpg
data/subset-1/005_back_ear.jpg
data/subset-1/005_down_ear.jpg
data/subset-1/005_front_ear.jpg
data/subset-1/005_left_ear.jpg
data/subset-1/005_right_ear.jpg
data/subset-1/005_up_ear.jpg
data/subset-1/005_zoom_ear.jpg
data/subset-1/007_back_ear.jpg
data/subset-1/007_down_ear.jpg
data/subset-1/007_front_ear.jpg
data/subset-1/007_left_ear.jpg
data/subset-1/007_right_ear.jpg
data/subset-1/007_up_ear.jpg
data/subset-1/007_zoom_ear.jpg
data/subset-1/008_back_ear.jpg
data/subset-1/008_down_ear.jpg
data/subset-1/008_front_ear.jpg
data/subset-1/008_left_ear.jpg
data/subset-1/008_right_ear.jpg
data/subset-1/008_up_ear.jpg
data/subset-1/008_zoom_ear.jpg
data/subset-1/009_back_ear.jpg
data/subset-1/009_down_ear.jpg
data/subset-1/009_front_ear.jpg
data/subset-1/009_left_ear.jpg
data/subset-1/009_right_ear.jpg
data/subset-1/009_up_ear.jpg
data/subset-1/009_zoom_ear.jpg
data/subset-1/010_back_ear.jpg
data/subset-1/010_down_ear.jpg
data/subset-1/010_front_ear.jpg
data/subset-1/010_left_ear.jpg
data/subset-1/010_right_ear.jpg
data/subset-1/010_up_ear.jpg
data/subset-1/010_zoom_ear.jpg
data/subset-1/011_back_ear.jpg
data/subset-1/011_down_ear.jpg
data/subset-1/011_front_ear.jpg
data/subset-1/011_left_ear.jpg
data/subset-1/011_right_ear.jpg
data/subset-1/011_up_ear.jpg
data/subset-1/011_zoom_ear.jpg
data/subset-1/012_back_ear.jpg
data/subset-1/012_down_ear.jpg
data/subset-1/012_front_ear.jpg
data/subset-1/012_left_ear.jpg
data/subset-1/012_right_ear.jpg
data/subset-1/012_up_ear.jpg
data/subset-1/012_zoom_ear.jpg
data/subset-1/013_back_ear.jpg
data/subset-1/013_down_ear.jpg
data/subset-1/013_front_ear.jpg
data/subset-1/013_left_ear.jpg
data/subset-1/013_right_ear.jpg
data/subset-1/013_up_ear.jpg
data/subset-1/013_zoom_ear.jpg
data/subset-1/014_back_ear.jpg
data/subset-1/014_down_ear.jpg
data/subset-1/014_front_ear.jpg
data/subset-1/014_left_ear.jpg
data/subset-1/014_right_ear.jpg
data/subset-1/014_up_ear.jpg
data/subset-1/014_zoom_ear.jpg
data/subset-1/018_back_ear.jpg
data/subset-1/018_down_ear.jpg
data/subset-1/018_front_ear.jpg
data/subset-1/018_left_ear.jpg
data/subset-1/018_right_ear.jpg
data/subset-1/018_up_ear.jpg
data/subset-1/018_zoom_ear.jpg
data/subset-1/019_back_ear.jpg
data/subset-1/019_down_ear.jpg
data/subset-1/019_front_ear.jpg
data/subset-1/019_left_ear.jpg
data/subset-1/019_right_ear.jpg
data/subset-1/019_up_ear.jpg
data/subset-1/019_zoom_ear.jpg
data/subset-1/020_back_ear.jpg
data/subset-1/020_down_ear.jpg
data/subset-1/020_front_ear.jpg
data/subset-1/020_left_ear.jpg
data/subset-1/020_right_ear.jpg
data/subset-1/020_up_ear.jpg
data/subset-1/020_zoom_ear.jpg
data/subset-1/021_back_ear.jpg
data/subset-1/021_down_ear.jpg
data/subset-1/021_front_ear.jpg
data/subset-1/021_left_ear.jpg
data/subset-1/021_right_ear.jpg
data/subset-1/021_up_ear.jpg
data/subset-1/021_zoom_ear.jpg
data/subset-1/022_back_ear.jpg
data/subset-1/022_down_ear.jpg
data/subset-1/022_front_ear.jpg
data/subset-1/022_left_ear.jpg
data/subset-1/022_right_ear.jpg
data/subset-1/022_up_ear.jpg
data/subset-1/022_zoom_ear.jpg
data/subset-1/023_back_ear.jpg
data/subset-1/023_down_ear.jpg
data/subset-1/023_front_ear.jpg
data/subset-1/023_left_ear.jpg
data/subset-1/023_right_ear.jpg
data/subset-1/023_up_ear.jpg
data/subset-1/023_zoom_ear.jpg
data/subset-1/024_back_ear.jpg
data/subset-1/024_down_ear.jpg
data/subset-1/024_front_ear.jpg
data/subset-1/024_left_ear.jpg
data/subset-1/024_right_ear.jpg
data/subset-1/024_up_ear.jpg
data/subset-1/024_zoom_ear.jpg
data/subset-1/025_back_ear.jpg
data/subset-1/025_down_ear.jpg
data/subset-1/025_front_ear.jpg
data/subset-1/025_left_ear.jpg
data/subset-1/025_right_ear.jpg
data/subset-1/025_up_ear.jpg
data/subset-1/025_zoom_ear.jpg
data/subset-1/026_back_ear.jpg
data/subset-1/026_down_ear.jpg
data/subset-1/026_front_ear.jpg
data/subset-1/026_left_ear.jpg
data/subset-1/026_right_ear.jpg
data/subset-1/026_up_ear.jpg
data/subset-1/026_zoom_ear.jpg
data/subset-1/027_back_ear.jpg
data/subset-1/027_down_ear.jpg
data/subset-1/027_front_ear.jpg
data/subset-1/027_left_ear.jpg
data/subset-1/027_right_ear.jpg
data/subset-1/027_up_ear.jpg
data/subset-1/027_zoom_ear.jpg
data/subset-1/028_back_ear.jpg
data/subset-1/028_down_ear.jpg
data/subset-1/028_front_ear.jpg
data/subset-1/028_left_ear.jpg
data/subset-1/028_right_ear.jpg
data/subset-1/028_up_ear.jpg
data/subset-1/028_zoom_ear.jpg
data/test_set_indexes.npy
data/val_set_indexes.npy
